.border-bottom {
  border-bottom: 2px solid black !important;
}

.no-decoration {
  text-decoration: none !important;
}

.product-tile {
  border: 1px solid black;
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.product-tile > .delete-checkbox {
  position: absolute;
  left: 20px;
  top: 20px;
}

#dvdForm, #bookForm, #furnitureForm {
  display: none;
}
#dvdForm.show, #bookForm.show, #furnitureForm.show {
  display: flex;
}